<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">
            <div class="row">
                <div class="form-three widget-shadow">
                    <div class=" panel-body-inputin">
                        <form class="form-horizontal" action="/area" method="post">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Area Code</label>
                                <div class="col-md-8">
                                    <div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-code-fork"></i>
												</span>
                                        <input type="text" class="form-control1" placeholder="code" name="code">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">Area Name</label>
                                <div class="col-md-8">
                                    <div class="input-group input-icon right">
												<span class="input-group-addon">
													<i class="fa fa-building-o"></i>
												</span>
                                        <input class="form-control1" placeholder="name" name="name">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <p class="help-block">Use_code is valid!</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit">
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>