<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
From a user’s perspective, you always want to have a unique password for every single service that you use online so that if one service gets compromised, the adversary won’t be able to impersonate you everywhere. But not many people use unique passwords. I keep an encrypted block on my computer where I store all my passwords. In order to gain access to that you will need to hack my computer and hack the encrypted block to find out what my password is.

From a service provider’s point of view, you need to protect your users as much as you can. It is your moral obligation. You can either eliminate all bugs and security holes from your whole service which includes software that you write and software that other people have written that you depend on which I think think is realistic because we still haven’t figured out as a field how to write bug free software.

Instead what you could do is figure out a safer way to store passwords. That is also one of my motivations to write software. For node.js there is this module called secure-password that I wrote. It’s like a high level wrapper that’s more familiar to developers but employs the most cutting edge cryptography underneath. Safe Storage is where we can do something as developers.

From a user’s perspective, you always want to have a unique password for every single service that you use online so that if one service gets compromised, the adversary won’t be able to impersonate you everywhere. But not many people use unique passwords. I keep an encrypted block on my computer where I store all my passwords. In order to gain access to that you will need to hack my computer and hack the encrypted block to find out what my password is.

From a service provider’s point of view, you need to protect your users as much as you can. It is your moral obligation. You can either eliminate all bugs and security holes from your whole service which includes software that you write and software that other people have written that you depend on which I think think is realistic because we still haven’t figured out as a field how to write bug free software.

Instead what you could do is figure out a safer way to store passwords. That is also one of my motivations to write software. For node.js there is this module called secure-password that I wrote. It’s like a high level wrapper that’s more familiar to developers but employs the most cutting edge cryptography underneath. Safe Storage is where we can do something as developers.
