<div id="page-wrapper">
    <div class="main-page login-page ">
        <h2 class="title1">Login</h2>
        <div class="widget-shadow">
            <div class="login-body">
                {{#if message}}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Warning!</strong> {{message}}
                    </div>
                {{/if}}
                {{#if success_message}}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Great!</strong> {{success_message}}
                    </div>
                {{/if}}
                <form action="/login" method="post">
                    <input type="email" class="user" name="email" placeholder="Enter Your Email" required="">
                    <input type="password" name="password" class="lock" placeholder="Password" required="">
                    <div class="forgot-grid">
                        <label class="checkbox">
                            <div class="clearfix"> </div>
                    </div>
                    <input type="submit" name="Sign In" value="Sign In">
                    <div class="registration">
                        Forgot password ?
                        <a class="" href="/reset-password">
                            Reset your password
                        </a>
                    </div>
                    <div class="registration">
                        Don't have an account ?
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>