<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Non Defaulters
        </h2>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">
            <ul class="list-group">
                {{#each bills as |bill|}}

                <li class="list-group-item">
                    <h3 data-bluna="{{bill._id.owner}}">
                        <a href="/users/{{bill._id.owner}}">
                            <span class="text-capitalize" id="disp{{bill._id.owner}}"></span>
                            <span class="pull-right" data-paid="{{bill.transactions.0}}"></span>
                        </a>
                    </h3>
                </li>
                <hr style="margin-top:40px; margin-bottom:40px;"> {{/each}}
            </ul>
        </div>
    </div>
</div>