<div id="page-wrapper">
    <div class="main-page">
        <h2 class="title1">Non Defaulters
        </h2>
        <div class="blank-page widget-shadow scroll" id="style-2 div1">

            <table class="table table-condensed">
                <tr>
                    <th>Name</th>
                    <th>Date Issued</th>
                    <th>Date Paid</th>
                </tr>
                <tbody>
                    {{#each bills as |bill|}}
                        <tr>
                            <td class="text-capitalize pd-owner" id="disp{{bill._id.owner}}" data-owner="{{bill._id.owner}}"></td>
                            <td class="bill-created"></td>
                            <td class="pd-trans" data-paid="{{bill.transactions}}"></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    $(function () {
        $('.pd-owner').each(function () {
            let def = $(this);
            let atr = def.attr('data-owner');
            var get_user = $.post('/getuser', {
                user: def.attr('data-owner')
            });

            get_user.done(function (data) {
                //console.log(data);
                //$(this).find().text(data.displayName);
                //$('#own' + atr).html(data)
                $('#disp' + atr).html('<a href="/users/' + data._id + '">' + data.displayName);
                //console.log($('#own' + atr))
            }).fail(function (err) {
                console.error(err);
            });
        });
        $('.pd-trans').each(function () {
            let def = $(this);
            let atr = def.attr('data-paid').split(',')[0];

            var get_trans = $.post('/gettrans', {
                trans: atr
            });

            get_trans.done(function (data) {
                console.log(data);
                //$(this).find().text(data.displayName);
                //$('#own' + atr).html(data)
                def.html(moment(new Date(data.date)).format('MMM/DD/YYYY'))
                def.parent().find('.bill-created').html(moment(new Date(data.bill.createdAt)).format('MMM/DD/YYYY'))

            }).fail(function (err) {
                console.error(err);
            });

        });

    })
</script>