<div id="page-wrapper">
    <div class="main-page login-page ">
        <h2 class="title1">Change your password</h2>
        <div class="widget-shadow">
            <div class="login-body">
                {{#if message}}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Warning!</strong> {{message}}
                </div>
                {{/if}}
                <form action="/change-password" method="post">

                    <input type="password" class="user" name="opassword" placeholder="Old Password" required>
                    <input type="email" class="user" name="email" hidden readonly required value="{{user.email}}">
                    <input type="password" name="password" class="lock" placeholder="New Password" required>
                    <input type="password" name="cpassword" class="lock" placeholder="Confirm New Password" required>
                    <input type="submit" name="Change" value="Change">
                </form>
            </div>
        </div>

    </div>
</div>