<script src="/js/jquery-1.12.4.js"></script>
<script src="/js/jquery-ui.js"></script>
<div id="page-wrapper">
    <div class="main-page">
        <h3 class="title1">Search Areas</h3>
        <div class="error-page" style="height: 79vh">
            <div class="">
            </div>
            <div class="">
                <h3><i class="fa fa-search text-yellow"></i> {{message}}</h3>
                <form action="/search_by_area" method="get" class="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" required="" autofocus id="sby_area">
                        <input name="term" hidden>

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-warning btn-flat"><i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>